html, body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.pre-level-container {
    justify-content: center;
}

.my-toolbar {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.layer-container {
    position: relative;
    background: floralwhite;
    box-shadow: 10px 10px 5px grey;
    width: 800px;
    height: 700px;
    overflow: hidden;
    transform: translate(50vw, 50vh) translate(-50%, -50%);
    padding: 0;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
}